<div class="wrapper fadeInDown">
  <div id="formContent">

    <div class="fadeIn first" *ngIf="cannotPlay===false && showQuestion===false">
      <!-- Tabs Titles -->
      <div>
        <h2 class="active"> Waiting </h2>
      </div>

      <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="iconWating" alt="User Icon" />
      <h2 class="fadeIn second">Vui lòng đợi đủ người chơi</h2>
    </div>

    <div class="fadeIn first" *ngIf="cannotPlay===true">
      <!-- Tabs Titles -->
      <div>
        <h2 class="active"> OOPS! </h2>
      </div>

      <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="iconWating" alt="User Icon" />
      <h2 class="fadeIn second">TRÒ CHƠI ĐÃ BẮT ĐẦU, HÃY QUAY LẠI SAU</h2>
    </div>

    <div class="fadeIn first" *ngIf="showQuestion===true && waitingForOthers === true && showResult === false">
      <!-- Tabs Titles -->
      <div>
        <h2 class="active"> WOW! </h2>
      </div>

      <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="iconWating" alt="User Icon" />
      <h2 class="fadeIn second">BẠN ĐÃ HOÀN THÀNH TRÒ CHƠI, VUI LÒNG CHỜ NHỮNG NGƯỜI CHƠI KHÁC</h2>
    </div>

    <div class="fadeIn first" *ngIf="showResult === true">
      <!-- Tabs Titles -->
      <div>
        <h2 class="active"> RESULT! </h2>
      </div>

      <img src="http://danielzawadzki.com/codepen/01/icon.svg" id="iconWating" alt="User Icon" />
      <div class="resultList" style="list-style-type:none">
        <div class="resultItem" *ngFor="let result of resultList">
          <span>{{result.username}}: </span> {{result.point}}
        </div>
      </div>

      <div>
        <h2 class="active"> WINNER(S) </h2>
      </div>
      <div class="winnerList" style="list-style-type:none">
        <div class="winnerItem" *ngFor="let winner of winnerList">
          <span>{{winner}}</span> 
        </div>
      </div>

    </div>


    <!-- Login Form -->
    <div *ngIf="showQuestion===true && waitingForOthers === false && showResult === false">
      <!-- Tabs Titles -->
      <div>
        <h2 class="active"> Playing </h2>
      </div>

      <!-- Icon -->
      <div class="fadeIn first">
        <img src="../../assets/book-open-flat.png" id="iconPlaying" width="180" height="180" alt="User Icon" />
      </div>

      <form>
        <h4>{{question.question_content}}</h4>
        <label class="container">{{question.option1_content}}
          <input id="ans1" type="checkbox" checked="checked">
          <span class="checkmark"></span>
        </label>
        <label class="container">{{question.option2_content}}
          <input id="ans2" type="checkbox">
          <span class="checkmark"></span>
        </label>
        <label class="container">{{question.option3_content}}
          <input id="ans3" type="checkbox">
          <span class="checkmark"></span>
        </label>
      </form>
      <button type="button" style="margin-bottom: 10px" class="btn btn-primary" id='submitBtn' (click)="establishAns()">Next</button>
    </div>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" href="#">Đề 2: Trò chơi trắc nghiệm vui</a>
    </div>

  </div>
</div>

<router-outlet></router-outlet>